.header {
    background-image: url( https://blackrockdigital.github.io/startbootstrap-clean-blog/img/home-bg.jpg);
    
    margin-bottom: 50px;
    background: no-repeat center center;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
    background-color: #868e96;
    background-blend-mode: luminosity;
    
}
li {
    color: white;
    text-align: center;
}
.head {
    color: white;
    text-align: center;
}
