/* .singles {
    height: 200px;
    width: 300px; 
    display: inline-block;
} */
.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
span {
    text-align: center;
}