.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    height: 90vh;
    margin: 63px;
}

.box1 {
    background-color: rebeccapurple;
    border: 2px solid black;
    border-radius: 40px;
}
.box2 {
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 40px;
}
.box3 {
    background-color: brown;
    border: 2px solid black;
    border-radius: 40px;
}
.box4 {
    background-color: blue;
    border: 2px solid black;
    border-radius: 40px;
}
.box5 {
    background-color: firebrick;
    border: 2px solid black;
    border-radius: 40px;
}
.box6 {
    background-color: green;
    border: 2px solid black;
    border-radius: 40px;
}
.box1:hover {
    box-shadow: 15px 10px gray;
    background-color: black;
    transition: all 1s 1s;
}
.box2:hover {
    border-radius: 0;
    background-color: blueviolet;
    border: 5px thick black;
    transition: all 1s .5s;
}
.box3:hover {
    background-color: gray;
    border: 10px dashed red;
    transition: all 1s .5s;
}
.box4:hover {
    border-radius: 100px;
    border: 10px dotted red;
    transition: all 1s .5s;
} 
.box5:hover {
    box-shadow: 15px 20px blue;
    border-radius:0;
    transition: all 1s .5s;
}
.box6:hover {
    box-shadow: 15px 20px black;
    border-radius: 150px;
    transition: all 1s .5s;
}
