*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
.route {
    color: #C3C0AE;
    text-decoration: none;
}
.link {
    background-color: #A65B3C;
    text-decoration: none;
    width: 84px;
    height: 50px;
    display: flex;
    margin: auto;
    border-radius: 40px;
    border: 2px solid #2E2E1A;
    
}
.tryAgain {
    width: 80%;
}
a {
    color: #2E2E1A;
    text-decoration: none;
    font-weight:bold;
}
.title {
    font-size: 30px;
    padding: 10px;
    text-align: left;
}
.ingredients {
    padding: 10px;
    font-size: 18px;
    text-align: left;
}
.formTitle {
    text-align: center;
    font-weight: bold;
}
.ownFormInput {
    height: 12%;
    display: flex;
    font-size: 9px;
}
.myOwnButton {
    border: 2px solid #2E2E1A;
    border-radius: 25px;
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 41px;
    text-align: center;
    height: 20px;
    margin-bottom: 150px;
    background-color: #949985;
}

nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 165px;
    border: 1px solid #2E2E1A;
    background-color: #A65B3C;
    font-size: 35px;
    color: #C3C0AE;

}
.saveButton {
    border: 1px solid #2E2E1A;
    width: 122px;
    height: 30px;
    border-radius: 30px;
    background-color: #A65B3C;
    border: 2px solid #2E2E1A;
    display: flex;
    margin: auto;
    text-align: center;
    padding-left: 38px;
    font-size: 18px;
    margin-top: 10px;
    color: #2E2E1A;
}
body {
    background-color: #C3C0AE;
}
.cards {
    border: 10px solid #2E2E1A;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #949985;
    margin-bottom: 10px;
}


img {
    margin-top: 33px;
    display: inline-block;
}
.firstPic {
    width: 77%;
    margin-left: 31px;
    display: inline-block;
    margin-bottom: 180px;  
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px;
    border: 1px solid #2E2E1A;
    background-color: #A65B3C;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 44px;
    color: #C3C0AE;
}



form {
    margin-top: 5%
}
.submitButton {
    display: block;
    margin: auto;
    height: 77px;
    width: 142px;
    border-radius: 32px;
    font-size: 25px;
    margin-top: 24px;
    background-color: #949985;
    border: 2px solid #2E2E1A;
    box-shadow: 9px 3px 5px #2E2E1A;
    margin-bottom: 10px;

}
.input {
    text-align: center;
}
input {
    border-radius: 25px;
    padding: 20px;
    margin: auto;
    width: 75%;
    margin-bottom: 10px;
    height: 100px;
    font-size: 30px;
    background-color: #949985;
    border: 3px solid #2E2E1A;
}
main {
    position: relative;
    min-height: 100vh;
  
}
.content {
    padding-bottom: 100px;
}
.randomMeal{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 45px;
    padding-bottom: 180px;
    margin-left: 10px;
    margin-right: 10px;
}

.returnedImg {
    width: 135px;
    display: flex;
    margin: auto;
    padding: 18px;
    height: 150px;
}
.ads {
    font-size: 0;
}
.adPic {
    width: 0px;
}

@media (min-width: 740px) {
    .footer {
        height: 78px;
    }
    .firstPic {
        display: flex;
        margin: auto;
    }
    nav {
        height: 75px;
        font-size: 47px;
        align-items: center;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 10px;
    }
    .myInput {
        display: flex;
        flex-direction: row;
    }
    
    .randomMeal {
        grid-template-columns: 1fr 1fr;
        padding-bottom: 90px;
    }
    .ownFormInput {
        height: 12%;
        width: 250px;
        font-size: 25px;
    }
    .myOwnButton {
        width: 91px;
        height: 49px;
        font-size: 20px;
    }
    .formTitle {
        font-size: xx-large;
    }

}

@media (min-width: 955px) {
    .ads {
        width: 10%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        border: 2px solid #2E2E1A;
        font-size: 20px;
        margin-right: 0px;

    }
    .adPic {
        width: 100%;
    }
    .lauraCash {
        font-size: 33px;
        font-weight: bold;
    }
    .screen {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    input {
        width: 600px;
        
    }
    .myInput {
        display: flex;
        justify-content: space-between;
    }
    .submitButton {
        margin-top: 84px;
    }
    
    .randomMeal{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        padding-bottom: 100px;
    }
    
    .footer {
        display: flex;
        justify-content: space-around;
        border: 1px solid #2E2E1A;
        height: 75px;
        font-size: 47px;
        align-items: center;

    }
    .form {
        align-content: center;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        
    }
    .firstPic {
        display: block;
        margin: auto;
        padding-bottom: 100px;
    }
    .content {
        width: 90%;
    }
    
}

.myOwnFormPage {
    margin: auto;
    width: 75%;
}
